*{
	scroll-behavior: smooth;
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3 {
	font-weight: 700;
	margin: 0;
}

.header{
	background: rgba(77,189,254,1);
	background: -moz-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,143,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(77,189,254,1)), color-stop(100%, rgba(55,143,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,143,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,143,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,143,217,1) 100%);
	background: linear-gradient(135deg, rgba(77,189,254,1) 0%, rgba(55,143,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbdfe', endColorstr='#378fd9', GradientType=1 );
	color: white;
	padding-top: 67px;
	padding-bottom: 50px;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title{
	width: 565px;
	font-weight: 700;
	font-size: 37px;
}
.title span{
	font-size: 59px;
}
.subtitle{
	width: 405px;
	font-size: 16px;
	line-height: 1.65em;
	margin: 45px 0;
}
.btn{
	display: block;
	width: 225px;
	background: #ffd429;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 900;
	color: black;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s linear;
}
.btn:hover {
	color: #ffd429;
	background: black;
}
.plane {
	margin-top: 10px;
}

.future{
	padding-top: 110px;
	padding-bottom: 117px;
}
.section_title{
	font-size: 30px;
	text-align: center;
}
.opportunities{
	padding-top: 70px;
	display: flex;
	justify-content: space-between;
}
.opportunity{
	width: 289px;
	text-align: center;
	padding-top: 95px;
}
.op1{
	background: url(../img/icon1.png) no-repeat top center;
}
.op2{
	background: url(../img/icon2.png) no-repeat top center;
}
.op3{
	background: url(../img/icon3.png) no-repeat top center;
}
.op_title{
	font-size: 19px;
}
.op_text{
	font-size: 15px;
	margin-top: 15px;
	line-height: 1.5em;
}

.order{
	background: #ecf3f8;
	padding: 105px 0;
}
.form{
	margin-top: 57px;
	height: 305px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.input{
	width: 340px;
	height: 45px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	padding-left: 25px;
}
.btn-submit{
	width: 343px;
	border: 0;
	cursor: pointer;
}

.footer{
	background: #164d7a;
	padding: 62px 0;
}
.credits{
	color: white;
	font-size: 14px;
	text-align: center;
	margin: 0;
}


@media screen and (max-width: 1200px) {
	.container{
		width: 960px;
	}
	.plane{
		width: 500px;
	}
	.title{
		width: 450px;
	}
}

@media screen and (max-width: 992px) {
	.container{
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
		margin-top: 100px;
	}
	.title, .subtitle{
		width: auto;
	}
	.plane{
		margin-top: 30px;
	}
	.opportunities{
		flex-direction: column;
	}
	.opportunity{
		width: auto;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 768px) {
	.container{
		width: 540px;
	}
	.input{
		width: 100%;
	}
	.btn{
		width: 100%;
	}
}

@media screen and (max-width: 576px) {
	.container{
		width: 90%;
	}
	.plane{
		width: 100%;
	}
	.opportunity{
		margin-bottom: 15px;
	}
}